body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* img.d-block w-100 {
  border-color: black;
} */

.carousel {
  width: 40%;
  /* height: 100px; */
  /* left: 60px; */
  margin: 10px auto;
  /* size: 120px; */
}

.main-nav {
  display: flex;
}

.nav-right {
  justify-content: flex-end;
}
