@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#ffffff7e, #dadada36);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  padding: 0;
  margin: 0;
}

p,
.p1 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1,
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: '900';
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav-right {
  float: right;
}

.card-container {
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-body a {
  display: inline-block;

  font-size: 14px;
  padding: 8px 40px;
  color: black;
  border-radius: 5px;
  background-color: lightgray;
  transition: 0.2s all;
}

.card-body a:hover {
  color: #f8f9fa;
  text-decoration: none;
  border-radius: 30px;
  background-color: #f2b705;
}

.card img {
  height: 250px;
  object-fit: contain;
}

.cart-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-update {
  width: 150px;
}
.cart-update-button {
  width: 100%;
}

.card {
  flex-basis: 400 auto;
  display: flex;
  margin: 20px;
  height: 420px;
  transition: all 0.3s;
  align-items: center;

  /* default auto */
}

.card:hover {
  box-shadow: 2px 2px 1px 2px lightgray;
}

.carousel {
  z-index: -1;
  position: fixed;
  margin: 0 auto;
}

.centered-caption {
  position: absolute;
  right: 15%;
  bottom: 40vh;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

.main-nav {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 1px rgba(102, 102, 102, 0.3);
}

.main-nav a {
  display: inline-block;
  color: gray;
  padding: 10px 30px;
  margin: 10px 10px;
  text-decoration: none;
}
.main-nav a:hover {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  border-bottom: 5px solid #f0cb5e;
}

.main-nav .logo:hover {
  color: #f2b705;
  border-bottom: none;
}
a.selected {
  background-color: #f2b705;
  color: white;
  /* color: black;
  border: 1px solid black; */
}

a.cart {
  color: #222222;
  border: 2px solid #222222;
}

.nav-right {
  align-self: center;
}

.product-container {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  width: 80%;
}

.product-container-left {
  flex: 1 1 400px;
}

.product-container-left img {
  width: 80%;
  object-fit: fill;
}

.product-container-right {
  flex: 1 1 400px;
}

.cart-container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  width: 80%;
}

.cart-container img {
  width: 100px;
  object-fit: fill;
}

.form-container {
  margin: 50px auto;
  width: 80%;
}

.flex-col {
  margin: 0 auto;
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
}

.box {
  margin: 10% auto;
  width: 500px;
  padding: 50px;
  border-radius: 10px;
  background-color: #f8f9fa;
  border: 1px solid lightgray;
}

.product-util {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  background-color: #f2b705;
  transition: 0.5s all;
}

.success {
  background-color: green;
}
.util-center {
  place-self: center center;
  margin-left: auto 20px;
  padding: 20px;
  color: #f8f9fa;
}
.util-right {
  flex: 0 1 auto;
}

.product-util a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 25px;
  background-color: #f8f9fa;
  color: #2b2b2b;
  transition: 0.4s all;
  margin: 10px;
}
.product-util a:hover {
  text-decoration: none;
  background-color: #f28705;
  color: #f8f9fa;
}

.big-button {
  flex: 0 1 auto;
  margin: 5px;
  text-decoration: none;
  color: #f8f9fa;
  background-color: #f2b705;
  padding: 16px 20px;
  font-size: 24px;
  transition: 0.3s all;
}
.big-button:hover {
  text-decoration: none;
  color: #f8f9fa;
  background-color: #202020;
  margin: 1px;
  padding: 20px 24px;
}

.sold-out {
  width: 200px;
  padding: 20px 30px;
  font-size: 20px;
  border: 1px solid black;
}

.product-add {
  width: 200px;
}
